<div class="modal-header"><h3>Ajout</h3></div>
<div class="modal-body">

	<p>Ajouter un element</p>

	<div class="row" >
			<div class="input-field col s12">
					<input  id="nomProjecteur" name="nomProjecteur" type="text"  placeholder="nom du Projecteur" ng-model="nomProjecteur"   />
					<span ng-show="nomProjecteur.$touched && nomProjecteur.$invalid">Le nom du projecteur est necessaire.</span>
			</div>
			<div class="input-field col s12">
					<input  id="puissanceProjecteur" name="puissanceProjecteur" type="number"  placeholder="puissance du Projecteur" ng-model="puissanceProjecteur"   integer/>
					<span ng-show="puissanceProjecteur.$touched && puissanceProjecteur.$invalid">La puissance du projecteur est necessaire.</span>
			</div>
			<div class="input-field col s12">
					<input  id="courantProjecteur" name="courantProjecteur" type="number"  placeholder="courant du Projecteur" ng-model="courantProjecteur"  integer />
					
			</div>
			
			<div class="input-field col s12">
				
				<form name="myForm">
   					 <label for="tensionSelect">Tension du projecteur</label>
    				<select name="tensionSelect" id="tensionSelect"  ng-options="tension for tension in tensions" ng-model="tensionProjecteur" style="display: block;">
      
    				</select>
    				
 				</form>
				
			</div>
			
			
			<div class="input-field col s12">
				<form name="myForm">
					<label for="phaseSelect">Phase du projecteur</label>
					<select name="phaseSelect" id="phaseSelect"  ng-options="phase for phase in phases" ng-model="phaseProjecteur" style="display: block;">
					</select>
				</form>
					
			</div>
			
			<!--<div><tt>tensionProjecteur = {{tensionProjecteur}} ,phaseProjecteur = {{phaseProjecteur}}</tt></div>-->
			
	</div>
</div>

<div class="modal-footer">
	<div class="row">
		<div class="col s6">
			<button class="btn btn-small blue darken-3 btnDialog" ng-click="ajouter()" ng-disabled="(nomProjecteur.length > 0 && (courantProjecteur.length > 0 || puissanceProjecteur.length > 0) ? false : true">Confirmer</button>
		</div>
		<div class="col s6">
			<button class="btn btn-small red lighten-1 btnDialog" ng-click="cancel()">Annuler</button>
		</div>
	</div>
</div>

