<div class="modal-header"><h3>Ajout</h3></div>
<div class="modal-body">

	<p>Ajouter un element au calcul</p>

	<div class="row" >
			<div class="input-field col s12">
				<form name="myForm">
					<label for="projecteurSelect">Liste des projecteurs</label>
					<select name="projecteurSelect" id="projecteurSelect"  ng-options="projecteur for projecteur in projecteurs" ng-model="projecteurSelect" style="display: block;">
					</select>
				</form>
					
			</div>
			
			
			
	</div>
</div>

<div class="modal-footer">
	<div class="row">
		<div class="col s6">
			<button class="btn btn-small blue darken-3 btnDialog" ng-click="ajouter()" ng-disabled="!nomProjecteur.length && !tensionProjecteur.length && !puissanceProjecteur.length">Confirmer</button>
		</div>
		<div class="col s6">
			<button class="btn btn-small red lighten-1 btnDialog" ng-click="cancel()">Annuler</button>
		</div>
	</div>
</div>

<script>
	$('.tension').formSelect();
	$('.phase').formSelect();
</script>