<div class="modal-header"><h3>Ajout</h3></div>
<div class="modal-body">

	<p>Ajouter un element</p>

	<div class="row">
			<div class="input-field col s12">
					<input  id="nomProjecteur" name="nomProjecteur" type="text"  placeholder="nom du Projecteur" ng-model="nomProjecteur"  required />
					<span ng-show="nomProjecteur.$touched && nomProjecteur.$invalid">Le nom du projecteur est necessaire.</span>
			</div>
			<div class="input-field col s12">
					<input  id="puissanceProjecteur" name="puissanceProjecteur" type="text"  placeholder="puissance du Projecteur" ng-model="puissanceProjecteur"  required />
					<span ng-show="puissanceProjecteur.$touched && puissanceProjecteur.$invalid">La puissance du projecteur est necessaire.</span>
			</div>
			<div class="input-field col s12">
					<input  id="nomProjecteur" name="courantProjecteur" type="text"  placeholder="courant du Projecteur" ng-model="courantProjecteur"  required />
					
			</div>
			<div class="input-field col s12">
					<input  id="nomProjecteur" name="tensionProjecteur" type="text"  placeholder="tension du Projecteur" ng-model="tensionProjecteur"  required />
					<span ng-show="tensionProjecteur.$touched && tensionProjecteur.$invalid">La tension du projecteur est necessaire.</span>
			</div>
			<div class="input-field col s12">
					<input  id="phaseProjecteur" name="phaseProjecteur" type="text"  placeholder="mono ou triphasé" ng-model="phaseProjecteur"  required />
					
			</div>
			
	</div>
</div>

<div class="modal-footer">
	<div class="row">
		<div class="col s6">
			<button class="btn btn-small blue darken-3 btnDialog" ng-click="ajouter()" ng-disabled="!nomProjecteur.length | !tensionProjecteur.length | !puissanceProjecteur.length">Confirmer</button>
		</div>
		<div class="col s6">
			<button class="btn btn-small red lighten-1 btnDialog" ng-click="cancel()">Annuler</button>
		</div>
	</div>
</div>