<div class="modal-header"><h3>Ajout</h3></div>
<div class="modal-body">

	<p>Ajouter un element</p>

	<div class="row">
			<div class="input-field col s12">
					<input  id="nomProjecteur" name="nomProjecteur" type="text"  placeholder="nom du Projecteur" ng-model="nomProjecteur"  required />
					<span ng-show="nomProjecteur.$touched && nomProjecteur.$invalid">Le nom du projecteur est necessaire.</span>
			</div>					
	</div>
</div>

<div class="modal-footer">
	<div class="row">
		<div class="col s6">
			<button class="btn btn-small blue darken-3 btnDialog" ng-click="ajouter()" ng-disabled="!nomProjecteur.length">Confirmer</button>
		</div>
		<div class="col s6">
			<button class="btn btn-small red lighten-1 btnDialog" ng-click="cancel()">Annuler</button>
		</div>
	</div>
</div>