<main class="main">
			
		
			<div class="card-panel center-align margin">
			
				<span class="echec" style="color:red"  >{{errorMsg}}</span> 
				<span class="echec" style="color:red"  >{{ elementSupprime }}</span>
				
				<ul class="element">
						<li ng-repeat="element in elements " >
							<div class="row blue darken-3 ">
								<a class="waves-effect waves-light  blue darken-3 left titreElement" style="text-color:black;" href="#!/calculs" id="{{element.id}}" ng-click="vm.element()" ng-bind="element.nom"></a>
								<a class="btn-floating btn-small waves-effect waves-light red delete right"><i class="material-icons ">clear</i></a>
							
							</div>
						</li>
				</ul>
				
			</div>			
		
</main>
